<div id="wrapper" class="conatinerX">
  <div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="5px">
      <a [routerLink]="['/all']">Home</a> <span>|</span>
      <a href="javascript:void(0)" (click)="logoutThruService()">Logout</a><br>
    </div>
    <div fxLayout="column">
      <h1>New Question</h1>
      <div fxLayout="column" fxLayoutGap="10px">
        <form>
          <div fxLayout="column" fxLayoutGap="10px">
            <span id="question">Question:</span>
            <textarea name="questionContent" id="questionContent
            " cols="78" rows="8" [(ngModel)]="newQuestion.questionContent"></textarea><br>
            <span id="description">Description (optional):</span>
            <textarea name="questionDesc" id="questionDesc" cols="78" rows="8" [(ngModel)]="newQuestion.questionDesc"></textarea><br>
          </div>
          <div id="btns" fxLayout="row" fxLayoutGap="10px">
            <button id="cancel_btn" [routerLink]="['/all']" >Cancel</button>
            <button class="btn" (click)="createQuestion()">Submit</button>
          </div>
          <p id="ptag" *ngFor="let error of errorMessages">{{error}}</p>
        </form>
      </div>
    </div>
  </div>
</div>


