<div id="wrapper">
  <a [routerLink]="['/all']">Home</a> <span>|</span>
  <a href="javascript:void(0)" (click)="logoutThruService()">Logout</a><br>
  <h1>New Question</h1>
  <form>
      <span id="question">Question:</span>
      <textarea name="questionContent" id="questionContent
      " cols="78" rows="8" [(ngModel)]="newQuestion.questionContent"></textarea><br>
      <span id="description">Description (optional):</span>
      <textarea name="questionDesc" id="questionDesc" cols="78" rows="8" [(ngModel)]="newQuestion.questionDesc"></textarea><br>
      <button id="cancel_btn" [routerLink]="['/all']" >Cancel</button>
      <button (click)="createQuestion()">Submit</button>
  </form>
  <p id="ptag" *ngFor="let error of errorMessages">
    {{error}}
  </p>
</div>


