#wrapper{
    padding: 40px;
    height: 100vh;
    background-color: #36322b;
}

h1{
    color: #eca341;
}

h4{
    color: #b0afac;
}

#data{
    margin-bottom: 20px;
}

span, a, p{
    color: white;
}

#details_div{
    display: inline-block;
    width: 80%;
    vertical-align: top;
}

#like_div{
    display:inline-block;
}

#like_btn{
    background: #b0afac;
    width: 100px;
    height: 25px;
    font-size: 11pt;
    border-radius: 5px;
    color: #36322b;
}

.name{
    font-style: bold;
    font-size: 14pt;
    color: #eca341;
    text-decoration: underline;
}

.desc_txt{
    font-size: 10pt;
    font-style: italic;
}