<div id="full" fxLayout="column">
  <!-- <div> -->
    <app-all-questions>Loading....</app-all-questions>
  <!-- </div> -->
  <div id="wrapper" class="containerX">
    <div fxlayout="row">
      <a [routerLink]="['/all']">Home</a><span> | </span><a [routerLink]="['/question/new_answer/',questionId]">Add Answer</a><span> | </span><a href="javascript:void(0)" (click)="deleteQuestion()">Delete the question</a>
    </div>
    <div fxlayout="row"><h1>{{questionContent}}</h1></div>
    <div fxlayout="row"><h4>{{questionDesc}}</h4></div>
    <div id="data" fxLayout="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" *ngFor="let y of showAnswers">
      <div id="details_div" fxLayout="column">
        <span class="name">{{y.writer}}:</span><br>
        <span>{{y.answerContent}}</span><br>
        <span class="desc_txt">{{y.answerDesc}}</span><br>
      </div>
      <div id="like_div" fxLayout="row" fxLayoutGap="10px">
        <span>{{y.likes}} likes</span>
        <button id="like_btn" (click)="liked(y._id)">LIKE</button>
      </div>
    </div>
  </div>
  <p id="ptag" *ngFor="let error of errorMessages">
    {{error}}
  </p>
</div>



