#wrapper{
    width: 700px;
    /* border: 1px solid black; */
    padding: 40px;
    background-color: #36322b;
}

h1{
    color: #eca341;
}

h4{
    color: #b0afac;
}

#data{
    margin-bottom: 20px;
}

span, a, p{
    color: white;
}

#details_div{
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

#like_div{
    display:inline-block;
    width: 25%
}

#like_btn{
    float: right;
    background: #b0afac;
    width: 100px;
    font-size: 11pt;
    border-radius: 5px;
    margin-right: 10px;
    color: #36322b;
}

.name{
    font-style: bold;
    color: #eca341;
}

.desc_txt{
    font-size: 10pt;
}