#wrapper{
    width: 700px;
    /* border: 1px solid black; */
    padding: 40px;
    margin-top: 30px;
}

#data{
    margin-bottom: 20px;
}

#details_div{
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

#like_div{
    display:inline-block;
    width: 25%
}

#like_btn{
    float: right;
}

.name{
    font-style: bold;
    color: blue;
}

.desc_txt{
    font-size: 10pt;
}