#wrapper{
    width: 700px;
    border: 1px solid black;
    padding: 40px;
    margin-top: 30px;
    background-color: #36322b;
}

h2{
    color: #eca341;
}

span, a{
    color: white;
}

button{
    background: #b0afac;
    width: 100px;
    font-size: 11pt;
    border-radius: 5px;
    margin-right: 10px;
    color: #36322b;
}

#cancel_btn{
    margin-left: 427px;
}

#yourAnswer{
    vertical-align: top;
    margin-right: 105px;
    color: white;
}

#answerContent{
    margin-bottom: 20px;
}

#description{
    width: 176px;
    display: inline-block;
    vertical-align: top;
    line-height: 2.5em;
    margin-right: 20px;
    color: white;
}

#answerDesc{
    margin-top: 30px;
    margin-bottom: 20px;
}

#ptag{
    color: red;
}