#wrapper{
    /* width: 700px; */
    /* border: 1px solid black; */
    padding: 40px;
    background-color: #36322b;
}

h1{
    color: #eca341
}

table, th, td {
    border: 1px solid #eca341;
    border-collapse: collapse;
    padding: 10px;
    color: white;
    font-size: 12pt;
}


/* #search_txt{
    margin: 15px 0px;
} */

span, a, p{
    color: white;
}

span{
    margin-top: 5px;
}

#search_txt{
    width: 298px;
    height: 20px;
    /* margin-left: 10px; */
}

.item-1{
    background-color: blue;
}

.item-2{
    background-color: green;
}

.item-3{
    background-color: yellow;
}