<div id="wrapper" class="containerX">
  <div fxLayout="column" fxLayoutGap="20px">
    <h1>Hi {{currentUser.name}}!</h1>
    <div fxLayout="row" fxLayoutGap="5px" fxLayout.xs="column">
      <div fxFlex="100%">
        <a [routerLink]="['/new_question']">Add a question</a><span> | </span><a href="javascript:void(0)" (click)="logoutThruService()">Logout</a><br>
      </div>
      <div fxLayout="row" fxLayout.xs="column"  fxLayoutGap="10px" fxFlexAlign="center">
        <span>Search: </span>
        <input id="search_txt" type="text" name="search" (keyup)="search()" [(ngModel)]="searchedString">
      </div>
    </div>
    <div>
      <table>
        <tr id="header">
          <th>Question</th>
          <th>Answer</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let x of searchedQuestions">
          <td>{{x.questionContent}}</td>
          <td>{{x.answers.length}}</td>
          <td><a [routerLink]="['/question/', x._id]">Show</a>   <a [routerLink]="['/question/new_answer/', x._id]">Answer</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>